<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Palette Generator</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <div class="container"></div>
    <!-- listen for form submission -->
    <form id="form">
        <input type="text" name="query" placeholder="Please input prompt to get started.">
        <button class="submitButton">Submit</button>
    </form>
    <script src="app.js"></script>
</body>
</html>